/* ===================================
              Whole Page
=================================== */
body {
  font-family: 'Fresca', sans-serif;
}

#home, #whatido, #myworks, #aboutme, #contact {
  height: 100vh;   
  width: 100vw;
}

@font-face {
font-family: nintendo;
src: url('../assets/fonts/emulogic.ttf');
}

/* ===================================
              Navbar
=================================== */
nav {
  margin-bottom: 0;
  position: fixed;
  width: 100vw;
  height: 50px;
  top: 0;
  z-index: 5;
  background-color: rgba(0,0,0,1);
}

.active {
  background-color: rgba(252, 160 ,68, 0.7);
}

#navbar-logo {
  float: left;
  padding: 15px 15px;
  color: #aaa;
}

#navbar-links {
  float: right;
}

#navbar-links ul li {
  position: relative;
  display: inline;
  padding: 15px 15px;
  color: #fff;
}

#navbar-links ul li:hover {
  color: rgba(228, 92 ,16,1);
}


/* ===================================
              Home Section
=================================== */
#home {
  background-image: url("http://i.imgur.com/DcnYPgt.png");
  background-size: cover;
  background-color: rgba(0,0,0,0.3);
}

video {
  height: 100vh;
  opacity: 0.5;
}

#home > p {
  color: white;
  font-size: 25px;
  position: relative;
  top: 75vh;
  left: 42vw;
}

#chocobo {
  background-image: url("../assets/images/chocobo.png");
  background-repeat:no-repeat;
  background-position: 0px -100px;
  height: 100px;
  width: 100px;
  position: relative;
  top: 70vh;
  left: 100vw;
}
#home #filter {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
}

#home #welcome {
  height: 100vh;
  width: 100vw;
  text-align: center;
  vertical-align: top;
  position: absolute;
  top: 0;
  z-index: 2;
}
#welcome p {
  position: relative;
  font-family: nintendo;
  font-size: 0px;
  color: white;
  top: 55vh;
}

/* ===================================
              Services Section
=================================== */
#whatido {
  background-color: rgba(200,255,200,1);
}
#whatido #whatido-title h1{
  margin: 0;
  padding: 0.5em;
  text-align: center;
  font-size: 5em;
}
#whatido #whatido-title p {
  text-align: center;
  font-size: 1.5em;
  margin-top: -10px;
}
#whatido .services {
  margin-left: 4%;
  text-align: center;
  margin-top: 25px; 
  float: left;
  height: 50%;
  width: 20%;
}

#whatido .services img {
  margin: 25px;
  height: 150px;
  width: 150px;
}

.lift h1 {
  color: rgba(228, 92 ,16,1);
}

.lift img{
  position: relative;
  -webkit-animation: liftImage 0.25s;
  -moz-animation: liftImage 0.25s;
  animation: liftImage 0.25s;
  top: -10px;
}

.drop img {
  position: relative;
  z-index: 0;
  -webkit-animation: dropImage 0.25s;
  -moz-animation: dropImage 0.25s;
  animation: dropImage 0.25s;
  top: 0;
}

/* ===================================
              Works Section
=================================== */
#myworks {
  background-color: rgba(50,50,50,1);
  height: 115vh;
}

#myworks h1 {
  text-align: center;
  padding: 50px 0;
  margin: 0;
  font-size: 50px;
  color: white;
  text-shadow: 4px 4px 5px rgba(252, 160 ,68, 0.7);
}

#myworks > div {
  border: 3px solid rgba(228, 92 ,16,1);
  border-radius: 25px;
  height: 200px;
  width: 200px;
  float: left;
  margin: 20px;
}

#myworks div:first-of-type {
  margin-left: 22%;
}

#myworks div:nth-of-type(3) {
  margin-right: 22%;
}
#myworks div:nth-of-type(4) {
  margin-left: 22%;
}


#myworks #peek {
  background-image: url("../assets/images/peek.jpg");
  background-size: cover;
}

#myworks #stylelust {
  background-image: url("../assets/images/stylelust.jpg");
  background-size: cover;
}

#myworks #mariotictactoe {
  background-image: url("../assets/images/mariotictactoe.jpg");
  background-size: 100% 100%;
}

#myworks #burgermonster {
  background-image: url("../assets/images/burgermonster.jpg");
  background-size: 100% 100%;
}

/* ===================================
              About Section
=================================== */
#aboutme {
  background-color: rgba(255,255,255,1);
}

#aboutme #pokeball {
  height: 53px;
  width: 63px;
  background-image: url("../assets/images/pokeballrotation.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: -693 0; 
  /* 0, -63, -126, -189, -252, -315, -378, -441, -504, -567, -630, -693 */ 
}
#aboutme #pokedexText, #aboutme #pokedexImage, #aboutme #pokeball, #aboutme #kendrick {
  position: absolute;
}

#aboutme #pokedexImage {
  background-image: url('../assets/images/kendrick.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#aboutme #pokedexText {
  overflow: scroll;
  margin: 20px;
  background-color: transparent;
}

#aboutme #pokedexText h1, #aboutme #pokedexImage h1 {
  text-align: center;
}


/* ===================================
              Contact Section
=================================== */
#contact {
  background-color: cyan;
}

/* ===================================
              Animations
=================================== */

/* Services Section */
@-webkit-keyframes liftImage {
  0% {top: 0;}
  100% {top: -10px;}
}
@-moz-keyframes liftImage {
  0% {top: 0;}
  100% {top: -10px;}
}
@keyframes liftImage {
  0% {top: 0;}
  100% {top: -10px;}
}

@-webkit-keyframes dropImage {
  0% {top: -10px;}
  100% {top: 0;}
}
@-moz-keyframes dropImage {
  0% {top: -10px;}
  100% {top: 0;}
}
@keyframes dropImage {
  0% {top: -10px;}
  100% {top: 0;}
}