/* ===================================
              Whole Page
=================================== */
body {
  font-family: 'Fresca', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.double-sided {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
}

#home, #whatido, #myworks, #aboutme, #contact {
  height: 100vh;   
  width: 100vw;
}

@font-face {
  font-family: nintendo;
  src: url('../assets/fonts/emulogic.ttf');
}

@font-face {
  font-family: pokemon;
  src: url('../assets/fonts/pokemon.ttf');
}

@font-face {
  font-family: khMenuTitle;
  src: url('../assets/fonts/khmenu.ttf');
}

@font-face {
  font-family: khMenuMain;
  src: url('../assets/fonts/khmenumain.ttf');
}

@font-face {
  font-family: kingdomHearts;
  src: url('../assets/fonts/kingdomhearts.ttf');
}

/* ===================================
              Navbar
=================================== */
nav {
  margin-bottom: 0;
  position: fixed;
  width: 100vw;
  height: 50px;
  top: 0;
  z-index: 5;
  background-color: rgba(0,0,0,1);
}

.active {
  background-color: rgba(252, 160 ,68, 0.7);
}

#navbar-logo {
  float: left;
  padding: 15px 15px;
  color: #aaa;
}

#navbar-links {
  float: right;
}

#navbar-links ul li {
  position: relative;
  display: inline;
  padding: 15px 15px;
  color: #fff;
}

#navbar-links ul li:hover {
  color: rgba(228, 92 ,16,1);
}


/* ===================================
              Home Section
=================================== */
#home {
  /*background-image: url("http://i.imgur.com/DcnYPgt.png");
  background-size: cover;
  */
  background-color: rgba(0,0,0,0.3);
}

#background {
  background-image: url("../assets/images/background.png");
  background-size: cover;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  z-index: 0;
  height: 100vh;
  width: 100vw;
}

video {
  height: 100vh;
  opacity: 0.5;
}

#home > p {
  color: white;
  font-size: 25px;
  position: relative;
  top: 75vh;
  left: 42vw;
}

#chocobo {
  background-image: url("../assets/images/chocobo.png");
  background-repeat:no-repeat;
  background-position: 0px -100px;
  height: 100px;
  width: 100px;
  position: relative;
  top: 70vh;
  left: 100vw;
}
#home #filter {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
}

#home #welcome {
  height: 100vh;
  width: 100vw;
  text-align: center;
  vertical-align: top;
  position: absolute;
  top: 0;
  z-index: 2;
}
#welcome p {
  position: relative;
  font-family: nintendo;
  font-size: 0px;
  color: white;
  top: 55vh;
}



/* ===================================
              About Section
=================================== */
#aboutme {
  background-color: black;
}

#aboutme #pokeball {
  height: 53px;
  width: 63px;
  background-image: url("../assets/images/pokeballrotation.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: -693 0; 
  /* 0, -63, -126, -189, -252, -315, -378, -441, -504, -567, -630, -693 */ 
}
#aboutme #pokedexText, #aboutme #pokedexImage, #aboutme #pokeball, #aboutme #kendrick {
  position: absolute;
}

#aboutme #pokedexImage {
  background-image: url('../assets/images/kendrick.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#aboutme #pokedexText {
  overflow: scroll;
  margin: 20px;
  background-color: transparent;
}

#aboutme #pokedexText h1, #aboutme #pokedexImage h1 {
  text-align: center;
  font-size: 30px;
  font-family: pokemon;
  color: #ffff00;
  text-shadow: -5px 0 #4682B4, 0 5px #4682B4, 5px 0 #4682B4, 0 -5px #4682B4;
}




/* ===================================
              Services Section
=================================== */
#whatido {
  background-color: rgba(0,0,0,1);
  font-family: khMenuMain;
  font-size: 14px;
  color: white;
}


#whatido-title {
  position: relative;
  top: -3%;
  left: 0;
  width: 100%;
  height: 12%;
  border-bottom: 2px solid #0000ff;
  background: -webkit-linear-gradient(black, #191970, #00008B);
  background: -moz-linear-gradient(black, #191970, #00008B);
  background: linear-gradient(black, #191970, #00008B);
}

#whatido #whatido-title-left {
  float: left;
  margin: 0.25% 0;
}

#whatido #whatido-title-left h1{
  vertical-align: middle;
  padding: 2% 25% 1% 10%;
  text-align: center;
  color: white;
  background-color: #0000ff;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  font-family: khMenuTitle;
}

#whatido #whatido-title-right {
  -webkit-border-image: 
    -webkit-linear-gradient(left, transparent, #FF8C00) 100% 2 10 stretch;
  -moz-border-image: 
    -moz-linear-gradient(left, transparent, #FF8C00) 100% 2 10 stretch;
  border-image: 
    linear-gradient(left, transparent, #FF8C00) 100% 2 10 stretch;

  border-width: 0 0 2px 0;
  width: 40%;
  text-align: right;
  float: right;
  margin-top: 4%;
  position: absolute;
  bottom: 5px;
  right: 0;
}

#whatido #whatido-title-right h2 {
  margin: 0;
  padding: 2% 2%;
  color: #FFFF00;
}

#whatido .whatido-lists ul li {
  list-style-type: none;
  width: 70%;
  margin: 10px 0 12px 0; 
  padding: 4px 0 4px 20px;
  border-top-left-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
  font-size: 24px;
} 

.black-list {
  background: black;
  border-top: 2px solid #A9A9A9;
  border-left: 2px solid #A9A9A9;
}

#whatido .whatido-lists ul li:active, #whatido .whatido-lists ul li:hover, .red-list, #whatido-subCategory ul li:hover, #whatido-subCategory ul li:active {
  background: linear-gradient(black, #8B0000, #ff0000);
  background: -webkit-linear-gradient(black, #8B0000, #ff0000);
  background: -moz-linear-gradient(black, #8B0000, #ff0000);
  border: 2px solid #ff0000;
}



#whatido-mid-section {
  position: relative;
  border-top: 2px solid blue;
  top: -4%;
  width: 100%;
  height: 70%; 
  background: linear-gradient(left, #00008B 2%, #191970 4%, #0000CD 8%, #00008B 12%, black 16%, black 100%);
  background: -webkit-linear-gradient(left, #00008B 2%, #191970 4%, #0000CD 8%, #00008B 12%, black 16%, black 100%);
  background: -moz-linear-gradient(left, #00008B 2%, #191970 4%, #0000CD 8%, #00008B 12%, black 16%, black 100%);
}

.whatido-lists {
  width: 32%;
  height: 91%;
  position: absolute;
  top: 0;
  left: 1%;
}

#whatido-subCategory ul {
  display: none;
  padding-top: 10%;
}


.show-subCategory {
  display: block;
}

#whatido-subCategory ul li {
  list-style-type: none;
  width: 90%;
  margin: 0px 0 12px 0; 
  padding: 4px 0 4px 20px;
  background: #00008B;
  border-top: 2px solid #4169E1;
  border-left: 2px solid #4169E1;
  border-top-left-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
  font-size: 20px;
}
#whatido-subCategory ul li span{
  font-family: kingdomHearts;
  font-size: 60px;
  line-height: 24px;
  position: relative;
  top: 10px;
  right: 0;
}

#whatido-subCategory .key {
  color: #FF8C00;
  position: relative;
  left: 0;
  top: 15px;
}

#whatido-subCategory ul li p{
  font-size: 14px;
  text-align: right;
  float: right;
  margin: 0;
  padding: 10px 10px 0 0;
  vertical-align: top;
  color: yellow;
}

.kh-blue-fade {
  width: 32%;
  height: 90%;
  position: absolute;
  top: 2%;
  right: 34%;
  border-top-left-radius: 15px 15px;
  border-bottom-left-radius: 15px 15px;
  -webkit-border-image: 
    -webkit-linear-gradient(right, transparent, blue 60%) 100% 1 5 stretch;
  -moz-border-image: 
    -moz-linear-gradient(right, transparent, blue 60%) 100% 1 5 stretch;
  border-image: 
    linear-gradient(right, transparent, blue 60%) 100% 1 5 stretch;
}

.kh-blue-fade > div {
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  position: absolute;
  top: -2px;
  left: -3px;
  border-left: 3px solid blue;
  overflow: scroll;
}

#whatido-character > h3, #whatido-subCategory > h3 {
  position: absolute;
  top: -2px;
  left: 0;
  width: 30%;
  margin: 0;
  padding: 4px 80px 4px 10px;
  background: blue;
  border-bottom: 2px solid blue;
  border-right: 2px solid blue;
  border-bottom-right-radius: 15px 15px;
  font-size: 20px;
}


#whatido-character {
  width: 32%;
  height: 90%;
  position: absolute;
  top: 2%;
  right: 1%;
  border-top-left-radius: 15px 15px;
  border-bottom-left-radius: 15px 15px;
  -webkit-border-image: 
    -webkit-linear-gradient(right, transparent, blue 60%) 100% 1 5 stretch;
  -moz-border-image: 
    -moz-linear-gradient(right, transparent, blue 60%) 100% 1 5 stretch;
  border-image: 
    linear-gradient(right, transparent, blue 60%) 100% 1 5 stretch;
}

#whatido-character div {
  width: 50%;
}

#whatido-character div p {
  margin-left: 10%;
  border-bottom: 2px solid;
}

#whatido-character div p span {
  float: right;
}

#whatido-character div p:nth-child(1) {
  margin-top: 25%;
  color: yellow;
}
#whatido-character div p:nth-child(2) {
  color: green;
}
#whatido-character div p:nth-child(3) {
  color: #FF8C00;
}
#whatido-character div p:nth-child(4) {
  color: white;
  padding-bottom: 10%;
}

#whatido-character div p:nth-child(4) span {
  position: relative;
  bottom: -1.5em;
}

#whatido #whatido-footer {
  position: absolute;
  top: 98%;
  left: 0;
  height: 29%;
  width: 100%;
  border-top: 2px solid #0000ff;
  background: -webkit-linear-gradient(#00008B, #191970, black 95%);
  background: -moz-linear-gradient(#00008B, #191970, black 95%);
  background: linear-gradient(#00008B, #191970, black 95%);

}

#whatido #lines-of-code {
  border-right: 2px inset #0000ff;
  height: 100%;
  width: 20%;
  background: transparent;
  float: left;
  font-family: khMenuTitle;
}


#whatido #lines-of-code div:nth-child(1) {
  color: #FFA500;
  float: left;
}
#whatido #lines-of-code div:nth-child(2) {
  color: #FFFF00;
  float: right;
}
#whatido #lines-of-code div:nth-child(3) {
  color: #87CEFA;
  float: left;
}
#whatido #lines-of-code div:nth-child(4) {
  color: #00CED1;
  float: right;
}

#whatido #subcategory-description {
  border-left: 4px groove #0000ff;
  height: 100%;
  width: 79%;
  background: transparent;
  float: left;
}


/* ===================================
              Works Section
=================================== */
#myworks {
  background-color: rgba(50,50,50,1);
  height: 115vh;
}

#myworks h1 {
  text-align: center;
  padding: 50px 0;
  margin: 0;
  font-size: 50px;
  color: white;
  text-shadow: 4px 4px 5px rgba(252, 160 ,68, 0.7);
}

#myworks > div {
  border: 3px solid rgba(228, 92 ,16,1);
  border-radius: 25px;
  height: 200px;
  width: 200px;
  float: left;
  margin: 20px;
}

#myworks div:first-of-type {
  margin-left: 22%;
}

#myworks div:nth-of-type(3) {
  margin-right: 22%;
}
#myworks div:nth-of-type(4) {
  margin-left: 22%;
}


#myworks #peek {
  background-image: url("../assets/images/peek.jpg");
  background-size: cover;
}

#myworks #stylelust {
  background-image: url("../assets/images/stylelust.jpg");
  background-size: cover;
}

#myworks #mariotictactoe {
  background-image: url("../assets/images/mariotictactoe.jpg");
  background-size: 100% 100%;
}

#myworks #burgermonster {
  background-image: url("../assets/images/burgermonster.jpg");
  background-size: 100% 100%;
}


/* ===================================
              Contact Section
=================================== */
#contact {
  background-color: cyan;
}

/* ===================================
              Animations
=================================== */

